html {
  font-family: sans-serif, Verdana;
}
body {
  background: #d7d7d7;
}

.container {
  display: grid;
  justify-content: center;
  gap: 40px;
}

::backdrop {
  background-image: linear-gradient(#1e90ff, #ffffff);
  opacity: 0.75;
}
dialog {
  margin-top: 50px;
  background: #f6f6f6;
}

label {
  font-weight: bold;
}
#get-book {
  display: grid;
  gap: 10px;
}
#get-book input {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  width: 200px;
  padding: 7px;
  font-size: 14px;
}

#get-book input[type="radio"] {
  width: 30px;
}

button {
  font-size: 1rem;
  font-weight: bold;

  color: #ffffff;
  background-color: #3b8be7;

  border: none;
  border-radius: 5px;

  padding: 10px 30px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 1rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}
